*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;    
    background: #f0f2f5;    
}

.container{
    text-align: center;
    width: min(90vw, 600px);
    height: 80vh;
    
    margin: 40px auto;
}

.form-files{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 1.5rem;
}


.form-files h3{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.input-file{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    margin-top: .5rem;
    height: 2.5rem;
    width: 70%;

    border: 1px solid #414141;
    border-radius: .5rem;

    cursor: pointer;
    font-size: 0.9rem;
    background: rgb(255, 255, 255);
}

.input-file img{
    height: 1.5rem;
    margin-left: .5rem;
}

.input-file label,
.input-file button{
    font-family: 'Poppins', sans-serif;
    font-size: .9rem;
    cursor: pointer;
    width: 100%;    
    border: none;
    background: none;
}

.img-sended{
    background-image: url('../assets/checkmark-circle-outline.svg');
    background-repeat: no-repeat;
    width: 3rem;
    background-position-x: center;
}

.input-file:hover{
    background: #fdb913;
    
    transition: 0.5s;
}

[type=submit]{
    margin-top: 2rem;
    width: 50%;
    height: 2rem;

    border: 1px solid #414141;
    border-radius: .5rem;

    background: #fdb913;
}

/** Animações */

#init {    
    margin-top: 35vh;
    animation-name: apear;
    animation-duration: 1000ms;
}

.show{
    animation-name: apear;
    animation-duration: 1000ms;
}

@keyframes apear{
    0%{
        opacity: 0%;
    }
   
    100%{
        opacity: 1;
    }
}